<%= form_for(joong_go) do |f| %>
  <% if joong_go.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(joong_go.errors.count, "error") %> prohibited this joong_go from being saved:</h2>

      <ul>
      <% joong_go.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :팔기 %>
    <%= f.text_field :팔기 %>
  </div>

  <div class="field">
    <%= f.label :물건 %>
    <%= f.text_area :물건 %>
  </div>

  <div class="field">
    <%= f.label :가격 %>
    <%= f.number_field :가격 %>
  </div>

  <div class="field">
    <%= f.label :상태 %>
    <%= f.check_box :상태 %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
